

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
  	<welcome-file>Serv1</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Trial1</servlet-name>
  	<display-name>Trial1</display-name>
  	<description></description>
  	<servlet-class>Trial1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Trial2</servlet-name>
  	<display-name>Trial2</display-name>
  	<description></description>
  	<servlet-class>Trial2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Trial3</servlet-name>
  	<display-name>Trial3</display-name>
  	<description></description>
  	<servlet-class>Trial3</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Trial4</servlet-name>
  	<display-name>Trial4</display-name>
  	<description></description>
  	<servlet-class>Trial4</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Test5</servlet-name>
  	<display-name>Test5</display-name>
  	<description></description>
  	<servlet-class>Test5</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Test6</servlet-name>
  	<display-name>Test6</display-name>
  	<description></description>
  	<servlet-class>Test6</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Test7</servlet-name>
  	<display-name>Test7</display-name>
  	<description></description>
  	<servlet-class>Test7</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Test8</servlet-name>
  	<display-name>Test8</display-name>
  	<description></description>
  	<servlet-class>Test8</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Serv1</servlet-name>
  	<display-name>Serv1</display-name>
  	<description></description>
  	<servlet-class>Serv1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Serv2</servlet-name>
  	<display-name>Serv2</display-name>
  	<description></description>
  	<servlet-class>Serv2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Trial1</servlet-name>
  	<url-pattern>/Trial1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Trial2</servlet-name>
  	<url-pattern>/Trial2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Trial3</servlet-name>
  	<url-pattern>/Trial3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Trial4</servlet-name>
  	<url-pattern>/Trial4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Test5</servlet-name>
  	<url-pattern>/Test5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Test6</servlet-name>
  	<url-pattern>/Test6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Test7</servlet-name>
  	<url-pattern>/Test7</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Test8</servlet-name>
  	<url-pattern>/Test8</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Serv1</servlet-name>
  	<url-pattern>/Serv1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Serv2</servlet-name>
  	<url-pattern>/Serv2</url-pattern>
  </servlet-mapping>
</web-app>
